<div class="flex flex-col justify-between items-stretch h-[100svh] bg-primary overflow-hidden">
  <!-- LOGIN HEADER STARTS-->
  <div class="w-full flex justify-between items-center border-transparent text-white px-3">
    <!-- LOGO STARTS -->
    <div class="flex flex-row items-center space-x-4"></div>
    <!-- LOGO ENDS -->

    <!-- CHANGE LANGUAGE START -->
    <div #languageDropdown class="relative dropdown flex items-center pt-8 pr-8 z-50">
      <!-- <p class="hidden lg:block pb-3 text-sm">{{ 'changeLanguage' | translate }}:</p> -->
      <button (click)="toggleLanguageDropdown()" class="flex items-center">
        <div class="flex w-full">
          <img [src]="'assets/' + languageFlag + '.png'" alt="" class="w-6 rounded-sm" />
        </div>
        <span class="ml-2 leading-6 text-white">
          {{ selectedLanguage | titlecase }}
        </span>
        <i-feather
          [name]="languageDropdownIsOpen ? 'chevron-up' : 'chevron-down'"
          class="text-white pl-2 w-6 mt-[6px] h-6 shrink-0"
        ></i-feather>
      </button>

      <ng-container *ngIf="languageDropdownIsOpen">
        <div
          class="absolute right-0 w-48 py-1 mt-6 top-11 origin-top-right bg-white rounded-md shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
          role="menu"
          aria-orientation="vertical"
          aria-labelledby="user-menu-button"
          tabindex="-1"
        >
          <a
            class="block px-4 py-2 text-sm text-gray-700 cursor-pointer hover:bg-gray-300"
            role="menuitem"
            tabindex="-1"
            id="user-menu-item-0"
            *ngFor="let lang of languages"
            (click)="toggleLanguage(lang.value)"
            >{{ lang.name }}</a
          >
        </div>
      </ng-container>
    </div>
    <!-- CHANGE LANGUAGE END -->
  </div>
  <div class="flex-1 relative z-10 flex flex-col justify-center items-center px-4">
    <div
      class="absolute md:h-[200vh] lg:h-[250vh] bg-gradient-to-r from-sky-700 to-sky-500 md:w-[200vw] lg:w-[200vw] md:rounded-[40%] lg:rounded-[100%] md:-left-[105%] lg:-left-[100%] md:-bottom-[120%] lg:-bottom-[150%] -z-10"
    ></div>

    <div class="flex items-center justify-center w-full h-[100svh] bg-center bg-no-repeat bg-cover">
      <div
        class="flex flex-col items-center justify-center m-auto bg-white rounded-md z-10 md:lg:px-16 md:lg:py-14 w-full sm:w-fit p-10"
      >
        <div class="w-full flex items-center justify-start">
          <div class="flex flex-row items-center space-x-4 mb-4 max-w-[450px] sm:w-80">
            <div class="w-full flex items-center justify-center">
              <img routerLink="/" src="assets/logos/newLogoHorizontal.png" alt="Logo" class="w-[250px] cursor-pointer" />
            </div>
          </div>
        </div>
        <router-outlet></router-outlet>
      </div>
    </div>
    <div class="w-full flex justify-center items-center bg-transparent text-white py-4 z-10">
      <p class="text-xs md:text-sm">Copyright © {{ currentYear }}, MINALOC. All rights reserved.</p>
    </div>
  </div>
</div>
