<form class="flex flex-col w-full space-y-6" (ngSubmit)="changePassword()" [formGroup]="changePwdForm">
  <div class="flex flex-col w-full space-y-2">
    <label for="currentPassword" class="block text-sm font-medium leading-6 text-gray-600">{{
      'currentPassword' | translate
    }}</label>
    <div class="relative flex items-center">
      <input
        formControlName="oldPassword"
        [type]="_d['oldPwd'] ? 'text' : 'password'"
        placeholder="{{ 'currentPasswordPlaceholder' | translate }}"
        class="block w-full rounded-md border-0 py-2.5 text-gray-500 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-primary sm:text-sm sm:leading-6"
        [class]="
          formControls['oldPassword'].touched &&
          (formControls['oldPassword'].errors || formControls['oldPassword'].hasError('pattern'))
            ? 'invalid-feedback'
            : ''
        "
      />

      <button
        type="button"
        class="absolute inset-y-0 right-0 flex items-center h-full pr-3 cursor-pointer text-[#667085]"
        (click)="togglePassword('oldPwd')"
      >
        <ng-container *ngIf="!_d['oldPwd']; else hideIcon">
          <i-feather name="eye"></i-feather>
        </ng-container>
        <ng-template #hideIcon>
          <i-feather name="eye-off"></i-feather>
        </ng-template>
      </button>
    </div>

    <p
      class="mt-2 text-sm text-red-600"
      id="email-error"
      *ngIf="
        changePwdForm.get('oldassword')?.invalid &&
        (changePwdForm.get('oldPassword')?.dirty || changePwdForm.get('oldPassword')?.touched)
      "
    >
      <span *ngIf="changePwdForm.get('oldPassword')?.hasError('required')">{{
        'passwordRequired' | translate
      }}</span>
    </p>
  </div>
  <div class="flex flex-col w-full space-y-2">
    <label for="currentPassword" class="block text-sm font-medium leading-6 text-gray-600">{{
      'newPassword' | translate
    }}</label>
    <div class="relative flex items-center">
      <input
        formControlName="newPassword"
        [type]="_d['pwd'] ? 'text' : 'password'"
        placeholder="{{ 'currentPasswordPlaceholder' | translate }}"
        class="block w-full rounded-md border-0 py-2.5 text-gray-500 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-primary sm:text-sm sm:leading-6"
        [class]="
          formControls['newPassword'].touched &&
          (formControls['newPassword'].errors ||
            formControls['newPassword'].hasError('pattern') ||
            (formControls['newPassword'].value &&
              formControls['newPassword'].value === formControls['oldPassword'].value))
            ? 'invalid-feedback'
            : ''
        "
      />

      <button
        type="button"
        class="absolute inset-y-0 right-0 flex items-center h-full pr-3 cursor-pointer text-[#667085]"
        (click)="togglePassword('pwd')"
      >
        <ng-container *ngIf="!_d['pwd']; else hideIcon">
          <i-feather name="eye"></i-feather>
        </ng-container>
        <ng-template #hideIcon>
          <i-feather name="eye-off"></i-feather>
        </ng-template>
      </button>
    </div>

    <p
      class="mt-2 text-sm text-red-600"
      id="email-error"
      *ngIf="
        (changePwdForm.get('newPassword')?.invalid &&
          (changePwdForm.get('newPassword')?.dirty || changePwdForm.get('newPassword')?.touched)) ||
        (formControls['newPassword'].value &&
          formControls['newPassword'].value === formControls['oldPassword'].value)
      "
    >
      <span *ngIf="changePwdForm.get('newPassword')?.hasError('required')"
        >{{ 'passwordRequired' | translate }}.</span
      >
      <span *ngIf="changePwdForm.get('newPassword')?.hasError('minlength')"
        >{{ 'passwordMinLength' | translate }}.</span
      >
      <span *ngIf="changePwdForm.get('newPassword')?.hasError('maxlength')"
        >{{ 'passwordMaxLength' | translate }}.</span
      >
      <span *ngIf="changePwdForm.get('newPassword')?.hasError('pattern')"
        >{{ 'passwordInvalidFormat' | translate }}.</span
      >
      <span *ngIf="formControls['newPassword'].value === formControls['oldPassword'].value">{{
        'samePasswordError' | translate
      }}</span>
    </p>
  </div>
  <div class="flex flex-col w-full space-y-2">
    <label for="currentPassword" class="block text-sm font-medium leading-6 text-gray-600">{{
      'confirmPassword' | translate
    }}</label>
    <div class="relative flex items-center">
      <input
        formControlName="retypeNewPassword"
        [type]="_d['confirmPwd'] ? 'text' : 'password'"
        placeholder="{{ 'retypePassword' | translate }}"
        class="block w-full rounded-md border-0 py-2.5 text-gray-500 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-primary sm:text-sm sm:leading-6"
        [class]="
          formControls['retypeNewPassword'].touched &&
          (formControls['retypeNewPassword'].errors ||
            formControls['retypeNewPassword'].hasError('passwordMismatch'))
            ? 'invalid-feedback'
            : ''
        "
      />

      <button
        type="button"
        class="absolute inset-y-0 right-0 flex items-center h-full pr-3 cursor-pointer text-[#667085]"
        (click)="togglePassword('confirmPwd')"
      >
        <ng-container *ngIf="!_d['confirmPwd']; else hideIcon">
          <i-feather name="eye"></i-feather>
        </ng-container>
        <ng-template #hideIcon>
          <i-feather name="eye-off"></i-feather>
        </ng-template>
      </button>
    </div>

    <p *ngIf="formControls['retypeNewPassword'].touched" class="mt-2 text-sm text-red-600" id="email-error">
      <span *ngIf="formControls['retypeNewPassword'].hasError('passwordMismatch')">{{
        'passwordMismatch' | translate
      }}</span>
      <span *ngIf="changePwdForm.get('retypeNewPassword')?.hasError('required')"
        >{{ 'passwordRequired' | translate }}.</span
      >
      <span *ngIf="changePwdForm.get('retypeNewPassword')?.hasError('minlength')"
        >{{ 'passwordMinLength' | translate }}.</span
      >
      <span *ngIf="changePwdForm.get('retypeNewPassword')?.hasError('maxlength')"
        >{{ 'passwordMaxLength' | translate }}.</span
      >
      <span *ngIf="changePwdForm.get('retypeNewPassword')?.hasError('pattern')"
        >{{ 'passwordInvalidFormat' | translate }}.</span
      >
    </p>
  </div>

  <div class="mt-4 border-b border-gray-200 mb-9" *ngIf="isLoggedin"></div>
  <div [ngClass]="{' justify-end space-x-5': isLoggedin}" class="flex w-full">
    <button *ngIf="isLoggedin"
      class="px-4 py-2.5 rounded-lg bg-white flex items-center justify-center font-semibold text-sm h-10 border border-gray-300"
    >
      {{ 'cancelButton' | translate }}
    </button>
      <ng-container *ngIf="loading">
        <button disabled type="button" class="w-full h-10 px-4 text-center text-white rounded-lg bg-primary">
          <svg
            aria-hidden="true"
            role="status"
            class="inline w-4 h-4 mr-3 text-white animate-spin"
            viewBox="0 0 100 101"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
              fill="#E5E7EB"
            ></path>
            <path
              d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
              fill="currentColor"
            ></path>
          </svg>
          {{ 'submitting' | translate }}
        </button>
      </ng-container>
      <ng-container *ngIf="!loading">
        <button
          [disabled]="changePwdForm.invalid"
          [ngClass]="{'rounded-full w-full': !isLoggedin, 'rounded-lg': isLoggedin}"
          type="submit"
          class=" h-10 px-4 text-white bg-primary disabled:bg-primary"
        >
          {{ 'changePassword' | translate }}
        </button>
      </ng-container>
  </div>
</form>
