<div class="flex flex-col space-y-6" *ngIf="!loading">
  <div class="w-full">
    <form class="w-full" [formGroup]="queryFormGroup">
      <div class="relative w-full lg:w-1/2 mt-2 rounded-md shadow-sm">
        <input
          type="text"
          name="search"
          class="block w-full rounded-md border-0 py-2.5 pr-10 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-primary sm:text-sm sm:leading-6"
          placeholder="{{ 'searchTranslationsPlaceholder' | translate }}"
          formControlName="query"
        />
        <div class="absolute inset-y-0 right-0 flex items-center pr-3 pointer-events-none">
          <ng-container *ngIf="!isSearching">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-5 h-5 text-gray-400"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z"
              />
            </svg>
          </ng-container>
          <ng-container *ngIf="isSearching">
            <app-spinner size="5"></app-spinner>
          </ng-container>
        </div>
      </div>
    </form>
  </div>

  <div class="shadow ring-1 ring-black ring-opacity-5 sm:rounded-lg">
    <div class="px-6 py-5 sm:flex sm:items-center bg-white">
      <div class="flex">
        <h1 class="mr-3 text-lg font-semibold leading-6 text-gray-900">{{ 'translations' | translate }}</h1>
        <div class="inline-flex items-center justify-center px-2 bg-sky-100 rounded-2xl">
          <span class="text-xs font-medium text-primary">
            {{ totalTranslations }} {{ 'translations' | translate }}
          </span>
        </div>
      </div>
    </div>

    <div class="overflow-x-auto">
      <table class="bg-white divide-y divide-gray-300 w-full">
        <thead class="bg-white">
          <tr>
            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">English</th>
            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Français</th>
            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Ikinyarwanda</th>
            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">
              {{ 'action' | translate }}
            </th>
          </tr>
        </thead>
        <tbody class="bg-white divide-y divide-gray-200">
          <tr class="cursor-pointer" *ngFor="let item of translations">
            <td class="py-6 pl-4 pr-3 text-sm text-gray-500 whitespace-nowrap">
              {{ item.englishVersion }}
            </td>
            <td class="py-6 pl-4 pr-3 text-sm text-gray-500 whitespace-nowrap">
              {{ item.frenchVersion }}
            </td>
            <td class="py-6 pl-4 pr-3 text-sm text-gray-500 whitespace-nowrap">
              {{ item.rwandaVersion }}
            </td>
            <td class="py-6 pl-4 pr-3 text-sm text-gray-500 whitespace-nowrap">
              <i-feather (click)="openEditDialog(item)" name="edit"></i-feather>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <ng-container *ngIf="translations.length > 0">
      <mat-paginator
        [length]="totalTranslations"
        [pageSize]="pagination.size"
        [pageIndex]="pagination.page"
        (page)="onPageChange($event)"
        aria-label="select"
      >
      </mat-paginator>
    </ng-container>
  </div>
</div>

<div *ngIf="loading" class="flex justify-center items-center p-8">
  <app-spinner size="8"></app-spinner>
</div>