<div class="w-full flex md:space-x-12 py-6">
  <div class="flex flex-col space-y-6 justify-between">
    <h1 class="text-3xl font-bold text-gray-800" *ngIf="showMessage">{{ keyword | translate | lowercase | titlecase }} {{'notFound' | translate}}</h1>
    <p class="text-gray-500" *ngIf="showMessage && !overrideMessage">
      {{'notFoundParagraphText' | translate}}
    </p>
    <p class="text-gray-500" *ngIf="overrideMessage !== null">
      {{ overrideMessage }}
    </p>

    <button
      *ngIf="showButton"
      (click)="refreshPage()"
      class="px-4 py-2.5 text-white rounded-lg bg-primary flex items-center justify-center font-semibold text-sm w-32 h-10"
    >
      {{'refresh' | translate}}
    </button>
  </div>
  <img src="assets/logos/not-found.svg" alt="Not found" />
</div>
